*.o
*.a
csrc/util/*
csrc/cmd/*
apps/*
csrc/ccnd/ccnd
csrc/ccnd/ccndsmoketest
csrc/ccnr/ccnr
csrc/exttests/testdriver
csrc/libexec/ccndc
csrc/libexec/udplink
csrc/sync/SyncTest
csrc/tests/testdriver
include
javasrc/build/
javasrc/ccn.jar
csrc/lib/basicparsetest
csrc/lib/ccn_verifysig
csrc/lib/ccnbtreetest
csrc/lib/encodedecodetest
csrc/lib/hashtbtest
csrc/lib/signbenchtest
csrc/lib/skel_decode_test
schema/*
